.clock {
  position: relative;
  font-size: 22vw;
  letter-spacing: -40px;
  font-family: monospace;
  /* font-family: "VT323"; */
  font-family: "Cutive Mono";
  /* font-family: "IBM Plex Mono";
  font-family: "M Plus 1 Code";
  font-family: "Red Hat Mono";
  font-family: "Rubik Mono One";
  font-family: "B612 Mono"; */
}

/* <link href="https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Cutive+Mono&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=M+PLUS+1+Code:wght@100..700&family=PT+Mono&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&family=Rubik+Mono+One&family=VT323&display=swap" rel="stylesheet"> */
