.App {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.animation--flash {
  background-color: red;
  color: white;
}

@keyframes flash {
  0% {
    background-color: white;
  }

  50% {
    background-color: Red;
  }
}